<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Path</th>
			<th>Size</th>
			<th>Last Modification</th>
			<th>Directory</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="file in files track by file.name">
			<td ng-if="file.isDir != true">{{file.name}}</td>
			<td ng-if="file.isDir == true"><a href="/directory/{{file.path}}">{{file.name}}</a></td>
			<td>{{file.path}}</td>
			<td>{{file.size}}</td>
			<td>{{file.lastMod}}</td>
			<td>{{file.isDir}}</td>
			<td>
				<a ng-show="!{{file.isDir}}" type="button" class="btn btn-sm btn-default" href="/{{file.path}}" download>
					Download
				</a>
			</td>
		</tr>
	</tbody>
</table>